{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    
    <div class="form-group">
        <label for="brand">Name:</label>
        {{ form_widget(form.brand,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }} 
    </div>

    <input type="submit" name="typePerfume_create" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
