{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="brand">brand:</label>
        {{ form_widget(form.brand,{
            'attr':{
                'class':'form-control',
                'placeholder': 'brand'
            }
        }) }}
    </div>
    <input type="submit" name="edit_todo" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
